<div class="register">
  <h1>Register New User</h1>
  <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
    <input type="text" placeholder="Username" formControlName="username" />
    <input type="email" placeholder="Email" formControlName="email" />
    <input type="password" placeholder="Password" formControlName="password" />
    <input
      type="password"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    <button type="submit">Register</button>
    <p *ngIf="errorMsg !== ''">{{ errorMsg }}</p>
    <span
      >Do you already have a accout? <br />
      <a routerLink="/auth/login">Login Here!</a></span
    >
  </form>
</div>
